%% compile temporaries
build
*.o
*.a
*.so
callgrind.out.*


%% EXECUTABLE
*.exe


%% IDE temporaries
.*.config
.*.creator
.*.creator.user*
.*.files
.*.includes

%% git
*.orig


%% PYTHON
*.pyc
_*.py
.ipynb_checkpoints


%% EXECUTION
core
CORE
*.log


%% BACKUP/temporary files
*.tmp
*.dat
nogit*
*~
z.*
z/
.#*#
.#*
#*#


%% MAKE
Makefile.dep
Make.lock
.lastMake
makefile


%% CMAKE
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CTestTestfile.cmake
